@model List<CategoriesDto>
@{
    ViewData["Title"] = "Kategori Listesi";
}

<div class="card">
    <div class="card-body p-0 tab-pane fade show active" role="tabpanel">
        <div class="card-header justify-content-end align-items-center">
            <a href="AddorUpdateCategory" class="btn btn-success mx-1">Yeni Kategori Ekle</a>
        </div>
        <div class="table-responsive">
            <table class="table table-row-bordered table-striped align-middle gy-4 gs-9" id="CategoryTable">
                <thead class="border-bottom border-gray-200 fs-6 text-gray-600 fw-bolder bg-light bg-opacity-75">
                    <tr>
                        <td class="min-w-150px">Kategori Adı</td>
                        <td class="min-w-150px">Değiştir</td>
                        <td class="min-w-150px">Sil</td>
                    </tr>
                </thead>
                <tbody class="fw-bold text-gray-600">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.CategoryName</td>
                            <td>
                                <a href="AddorUpdateCategory?id=@item.Id" class="btn btn-icon btn-success"><i class="bi bi-pencil"></i></a>
                            </td>
                            <td>
                                <button class="btn btn-danger btn-icon deleteButton" data-id="@item.Id">
                                    <i class="bi bi-trash"></i>
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $('#CategoryTable').on('click', '.deleteButton', function (e) {
            e.preventDefault();

            const id = e.currentTarget.getAttribute("data-id");

            Swal.fire({
                  title: "Bu kaydı silmek istediğine emin misin?",
                  text: "Bu işlem geri alınamaz!",
                  icon: "warning",
                  showCancelButton: true,
                  confirmButtonColor: "#3085d6",
                  cancelButtonColor: "#d33",
                  confirmButtonText: "Evet, Eminim",
                  cancelButtonText: "Geri"
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = `RemoveCategory?id=${id}`;
                }
            });
        });
    </script>
}