@model ErrorViewModel
@{
    ViewData["Title"] = "Hata";
}
<style>
    .error-container {
        margin-top: 10rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: white;
        padding: 20px;
    }
</style>
<div class="error-container">
    <h1 class="text-danger">Hata!</h1>
    <h2 class="text-danger">Üzgünüz. Beklenmedik bir hata meydana geldi.</h2>
    <p class="text-danger">Konu hakkında çalışmaya başladık bile anlayışınız için teşekkür ederiz.</p>

</div>