@model ResetPasswordDto
@{
    Layout = "_LoginLayout";
}

<div class="w-lg-550px bg-body rounded shadow-sm p-10 p-lg-15 mx-auto">
	<form class="form w-100" id="resetPasswordForm" novalidate="novalidate" id="kt_new_password_form" method="post" autocomplete="off" asp-controller="Login" asp-action="ResetPassword">
		<div class="text-center mb-10">
			<h1 class="text-dark mb-3">Yeni Şifre Oluştur</h1>
			<div class="text-gray-400 fw-bold fs-4">
				Şifreni Zaten Sıfırladıysan Giriş Yap
				<a href="~/Login/Login" class="link-primary fw-bolder">Giriş Yap</a>
			</div>
		</div>
		<div class="mb-10 fv-row" data-kt-password-meter="true">
			<div class="mb-1">
				<label asp-for="NewPassword" class="form-label fw-bolder text-dark fs-6">Şifre</label>
				<div class="position-relative mb-3">
					<input class="form-control form-control-lg form-control-solid" type="password" asp-for="NewPassword" autocomplete="off" required />
					<span class="btn btn-sm btn-icon position-absolute translate-middle top-50 end-0 me-n2" data-kt-password-meter-control="visibility">
						<i class="bi bi-eye-slash fs-2"></i>
						<i class="bi bi-eye fs-2 d-none"></i>
					</span>
					<span asp-validation-for="NewPassword" class="text-danger fw-bold"></span>
				</div>
			</div>
		</div>
		<div class="fv-row mb-10">
			<label asp-for="ConfirmPassword" class="form-label fw-bolder text-dark fs-6">Şifre Onay</label>
			<input class="form-control form-control-lg form-control-solid" type="password" asp-for="ConfirmPassword" autocomplete="off" required/>
			<span id="invalidPass" class="text-danger fw-bold"></span>
		</div>
		<div class="text-center">
			<button type="button" id="submitBtn" class="btn btn-lg btn-primary fw-bolder">
				Onayla
			</button>
		</div>
	</form>
</div>
@section Scripts {
	<script>
		$(document).ready(function () {

			function validatePasswords() {
				const pwd = $("#NewPassword").val();
				const confirm = $("#ConfirmPassword").val();

				const errorSpan = $('#invalidPass');

				if (pwd.length > 0 && confirm.length > 0 && pwd !== confirm) {
					errorSpan.text("Şifreler uyuşmuyor.");
					$("#ConfirmPassword").addClass("is-invalid").removeClass("is-valid");
					return false;
				} else if (confirm.length > 0) {
					errorSpan.text("");
					$("#ConfirmPassword").addClass("is-valid").removeClass("is-invalid");
				} else {
					errorSpan.text("");
					$("#ConfirmPassword").removeClass("is-valid is-invalid");
				}

				return true;
			}

			$("#NewPassword, #ConfirmPassword").on("keyup", function () {
				validatePasswords();
			});

			$("#submitBtn").on("click", function (e) {
				const invForm = $('#resetPasswordForm');

				if (!invForm[0].checkValidity()) {
					invForm[0].classList.add('was-validated');
					invForm[0].reportValidity();
					return;
				}

				if (!validatePasswords()) {
					e.preventDefault();
					return;
				}
				
				invForm.submit();
			});
		});
	</script>
}